.search-component {
  margin: 0 auto;
  max-width: 400px;
  height: 100%;

  .search-bar {
    position: relative;
    background-color: white;
    margin: 0 auto;

    &__container {
      margin-top: 60px;
    }
  
    &__form {
      width: 100%;

      &.active {
        border: 1px solid darkgray;
      }
  
      &.inactive {
        border: 1px solid lightgray;
      }
  
      .search-bar__input-container {
        display: flex;
        padding: 5px 10px;
        border-radius: 4px;
  
        .search-bar__input {
          outline: none;
          border: none;
          width: 100%;
        }
      }
    }
  }

  .search-bar__button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    height: 100%;

    .search-bar__icon { 
      position: relative;

      &--search{
        width: 13px;
        top: 2px;
      }
      &--reset {
        width: 10px;
      }
      &--apply{
        width: 10px;
      }
    } 
  }

  .search-suggestions {
    position: relative;
    margin: 0 auto;
    max-height: 0;
    width: 100%;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    &.active {
      border: 0.5px solid lightgray;
      border-top: none;
      max-height: 600px;
      transition: max-height 0.3s ease-in;
    }

    .search-suggestions__list-item {
      display: flex;
      justify-content: space-between;
      border-bottom: 0.5px solid lightgray;
      padding: 8px;
      span {
        font-size: 0.8rem;
        font-weight: 200;

        b {
          font-weight: 800;
        }
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    height: 100%;
    width: 100%;
    background-color: #F4F4F4;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &.active {
      opacity: 1;
    }
  }
}
