.search-component {
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  padding: 15px;

  .search-bar {
    position: relative;
    background-color: white;
    margin: 0 auto;

    &__container {
      margin-top: 60px;
    }
  
    &__form {
      width: 100%;

      &.active {
        border: 1px solid darkgray;
      }
  
      &.inactive {
        border: 1px solid lightgray;
      }
  
      .search-bar__input-container {
        display: flex;
        padding: 5px 10px;
        border-radius: 4px;
  
        .search-bar__input {
          outline: none;
          border: none;
          width: 100%;
        }
      }
    }
  }

  .search-bar__button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    height: 100%;

    .search-bar__icon { 
      position: relative;

      &--search{
        width: 13px;
        top: 2px;
      }
      &--reset {
        width: 10px;
      }
      &--apply{
        width: 10px;
      }
    } 
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    height: 100%;
    width: 100%;
    background-color: #F4F4F4;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &.active {
      opacity: 1;
    }
  }
}
