.search-bar {
  padding: 16px;

  &__container {
    margin-top: 60px;
  }

  &__form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    .search-bar__input-container {
      display: flex;
      padding: 5px 10px;
      border: 1px solid lightgray;

      .search-bar__input {
        outline: none;
        border: none;
        width: 100%;
      }

      .search-bar__button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        .search-bar__icon { 
          position: relative;

          &--search{
            width: 13px;
            top: 2px;
          }
          &--reset {
            width: 10px;
          }
        } 
      }
    }
  }
}
